// import Google fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


// Site thems, colors & variables
$pageColor: #191919;
// $primaryfon: #272728;
$primaryFontColor: #F8F8FF;
$secondaryFontColor: #F8F8FF
;

$primaryFont: 'IBM Plex Mono',monospace;
$secondaryFont: -apple-system,
BlinkMacSystemFont,
SF Pro Display,
Roboto,
Helvetica Neue,
sans-serif;


body {
  background-color: $pageColor;
  border: 5px solid white;
  padding: 2%;
  color: $primaryFontColor;
  font-family: $primaryFont;
  // flexbox solution to sticky footer -- refer to `.site-content`
  .site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }
}

.site_content {
  flex: 1;
  font-family: $secondaryFont;
  color: $secondaryFontColor;
  // justify-content: flex-end;
}

.site_content-wrapper {
  margin-top: 2%;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 6px;
}

.site_content-text {
  align-self: center;
  margin: 0 auto 0 0;
  width: 60%;
  line-height: 1.5;
  font-weight: 425;
}
.site_facts-headers {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-family: $primaryFont;
  margin-top: 2%;
  flex-wrap: wrap;
}


.site_content-text--center {
  font-family: $primaryFont;
}


.list_nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list_nav-list-tagline {
  align-self: center;
  padding-left: 2%;
}

.image_headshot {
  background-image: url('../../public/static/jj-daurora-headshot.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 120px;
  -webkit-border-radius: 120px;
  height: 10em;
  width: 10em;
  margin: 2% auto;
  border: 3px solid $primaryFontColor;
}
//footer 
.btn_footer-btn {
  background-color: #7EBAF7;
  padding: .25em 1em;
  margin: 0 .5%;
  border: 2px solid $primaryFontColor;
  border-radius: 3px;
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #F5BFE8;
    }
  }
}